body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.rank {
  height: 45px;
}

.square {
  /* background: #fff; */
  border: 1px solid #999;
  /* float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px; */
  height: 45px;
  /* margin-right: -1px;
  margin-top: -1px; */
  padding: 0;
  text-align: center;
  width: 45px;
}

.square:focus {
  outline: none;
}

.selected.green {
  background: radial-gradient(#0ff, green);
}

.selected.white {
  background: radial-gradient(#0ff, white);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/* .game {
  display: flex;
  flex-direction: row;
} */

.game-info {
  margin-left: 20px;
}

#board {
  width: 360px;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.piece {
  width: 43px;
  height: 43px;
}

/* .black {
  background-color: green;
} */

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}